<!DOCTYPE html>
<html>

  <head>
    <title>All Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>

    <main>
      <h1>Skills</h1>
      <ul>
        <% skills.forEach(function(t) { %>
          <li>
              <form action="/skills/<%= t.id %>>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
              <a href="/skills/<%= t.id %>"><%= t.skill %></a>
          </li>
        <% }); %>
      </ul>
      
    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
  </body>
  
</html>

